  <!-- <!DOCTYPE html> -->
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>

      <link rel="stylesheet" type="text/css" href="/css/home.css">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="/js/materialize.min.js"></script>


      <div class="dash-column left">
        <div class="row">
          <div class="col s4">
            <div class="card-panel teal">
              <span class="white-text">Traffic here
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s3">
            <div class="card-panel teal">
              <span class="white-text">Time here
              </span>
            </div>
          </div>
          <div class="col s3">
            <div class="card-panel teal">
              <span class="white-text">Traffic here
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="dash-column middle">
        <div class="row">
          <div class="col s12 m5">
            <div class="card-panel teal">
              <span class="white-text">Switch me
              </span>
            </div>
          </div>
        </div>
      </div>
      

    
<!--       <div class="dash-column">
        <div class="dash-row">
           <div class="card-panel teal dash-card weather-card">
              <span class="white-text">
                Weather Goes here
              </span>
          </div> 
        </div>
        <div class="dash-row">
          <div class="card-panel teal dash-card time-card">
              <span class="white-text">
                Time Goes here
              </span>
          </div>
          <div class="card-panel teal dash-card traffic-card">
              <span class="white-text">
                Traffic Goes here
              </span>
          </div>  
        </div>
      </div>
      <div class="dash-column">
        <div class="card-panel teal dash-card switch-card">
              <span class="white-text">
                Lights Goes here
              </span>
          </div>  
      </div> -->





    </body>
  </html>